apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
data:
  db-dsn: {{ .Values.dbDsn | b64enc }}
  jwt-secret: {{ .Values.jwtSecret | b64enc }}
  postgres-password: {{ .Values.postgresPassword | b64enc }}